<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.albino.restaurantapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_food_runner"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_icon_food_runner_round"
        android:supportsRtl="true"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden"
        >
        <activity android:name=".activity.OrderPlacedActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".activity.OrderHistoryActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.CartActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.RestaurantMenuActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.Dashboard"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.LoginRegisterActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>